        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: sans-serif;
        }

        .flex {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .Banner {
            background-color: #1d75de !important;
            margin: 0 0;
            padding: 30px;
            flex-direction: column;
            width: 100%;
            height: 400px;
            text-align: center;
        }

        .Banner .primary-text {
            font-size: 40px;
            font-weight: 800;
            line-height: 1.2;
            color: white;
            word-spacing: -2px;
        }

        .secondary-text {
            font-size: 24px;
            margin: 30px 0px;
            color: white;
            font-weight: 400;
            word-spacing: 10px;
            line-height: 1.2;
            letter-spacing: 1.1px;
        }

        .buttons {
            gap: 20px;
            flex-wrap: wrap;
        }

        .dark-btn {
            background-color: black;
            color: white;
            width: 160px;
            height: 50px;
            font-size: 15px;
            text-transform: capitalize;
            border-radius: 70px;
            /* outline: 1px solid white; */
        }

        .dark-btn:hover {
            transform: scale(1.05);
            border-radius: 70px;

        }

        .light-btn {
            width: 190px;
            height: 48px;
            border: 2px solid white;
            transform: scale(1.05);
            border-radius: 70px;
            background-color: transparent;
            color: white;
        }

        .light-btn:hover {
            transform: scale(1.08);
        }

        .banner-footer {
            font-size: 11px;
            margin: 20px 0;
            color: white;
        }

        .article-section {
            width: 90%;
            margin: auto;
            flex-wrap: wrap;
        }

        .article-header-section {
            /* background-color: red; */
            text-align: center;
            margin: 60px auto;
        }

        .article-header {
            font-weight: 900;
            color: black;
        }

        .features {
            list-style: none;
            flex-wrap: wrap;
        }

        .feature-card {
            width: 285px;
            height: 285px;
            flex-direction: column;
        }

        .features-details {
            margin-top: 20px;
            flex-direction: column;
        }

        .features-text-primary {
            font-weight: bold;
            margin-bottom: 10px;
            font-size: 21px;
            padding: 0px;
            line-height: 1.3em;
            color: black;
        }

        .article-header-secondary {
            font-weight: 500;
            color: black;
        }

        .payment-article {
            flex-direction: column;
            margin-top: 40px;
            flex-wrap: wrap;

        }

        .payment-article-wrapper {
            flex-direction: row;
            flex-wrap: wrap;
        }


        .payment-article-ul {
            list-style: none;
            flex-direction: row;
            gap: 10px;
        }

        .payment-card-section {
            background-color: lightblue;
            color: black;
            flex-direction: row !important;
            gap: 20px;
            flex-wrap: wrap;

        }

        .payment-card {
            height: 600px;
            width: 280px;
            /* border: 2px solid black; */
            color: black;
            border-radius: 10px;
            box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 15px, rgba(0, 0, 0, 0.22) 0px 5px 9px;
            flex-direction: column;
            padding: 10px;
        }



        .payment-card-top-ul {
            list-style: none;
        }

        .one-time-btn {
            border: 2px solid rgb(13, 114, 234);
            font-size: 0.8rem;
            color: rgb(13, 114, 234);
            font-weight: 900;
            border-radius: 4px;
            padding: 2px 6px;
            font-size: 14px;
            background-color: white;
            margin-left: -30px;
        }

        .payment-card-top-header {
            font-size: 24px;
            font-weight: bold;
            line-height: 24px;
            margin: 2px 0px 5px;
        }

        .payment-card-details {
            font-size: 16px;
            font-weight: 400;
            line-height: 22px;
            margin: 2px 0 2px;
        }

        .payment-card-middle-ul {
            list-style: none;
        }

        .true-sign-svg {
            display: inline-block;
        }

        .true-svg {
            display: inline-block;
        }

        .payment-card-middle-item {
            display: flex;
            justify-content: flex-start;
            color: black;
            line-height: 22px;
        }

        .view-plans-btn {
            width: auto;
            margin: 20px 0;
            padding: 12px 50px;
            border-radius: 40px;
            background-color: black;
            color: white;
            font-weight: 400;
            font-size: 24px;
        }

        .one-month-btn {
            color: white;
            background-color: #1d75de;
        }

        .payment-card-top-ul {
            gap: 5px;
            flex-direction: column;
            justify-content: flex-start !important;
        }

        .student-discount-card {
            width: 80%;
            box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 15px, rgba(0, 0, 0, 0.22) 0px 5px 9px;
            height: 100px;
            flex-direction: row;
            border-radius: 10px;
        }

        .footer {
            background-color: #000;
            color: white;
            flex-wrap: wrap;
            justify-content: space-evenly !important;
            padding: 100px;
        }

        .footer-lists {
            height: 200px;
            list-style: none;
            gap: 20px;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
        }

        .footer-links-header {
            color: #919496;
            text-decoration: none;
            font-size: 16px;
            font-weight: 300;
        }

        .footer-links {
            text-decoration: none;
            color: white;
            font-size: 16px;
            font-weight: 300;
        }

        .footer-links:hover {
            color: rgb(133, 200, 31);
        }